body {
  font: 14px sans-serif;
}
h1{
  text-align: center;
  color: blue;
}
u,a
{
  color: blue;
}
.panel-body,.overall{
  background:#FFF8DC;
}



.panel-title{
  text-align: center;
  font-size: 20px;
  font-weight: bolder;
}

.panel{
  margin-top: 90px;
}

.top-navbar{
  font-size: 20px;
  font-weight: bolder;
}
