extends layout

block content
  .container
    .row
      .col-sm-12
        .panel.panel-default
          .panel-heading
            h3.panel-title
              b Contributors Graph - Commits Per month
              | :
              u nodejs/node
              |  Repository
          // end panel-heading
          .panel-body.overall
            .year_det
            select#year_select.pull-right
          a.btn.btn-warning.btn-block(href='#', target='_blank') Contributions to master, excluding merge commits (per Month Data)
        // end panel
        br
        h1
          b Top 100 Authors Commits Graph
    // for Author Graph
  // end of container
  script(src='//d3js.org/d3.v3.min.js')
  script(src='http://code.jquery.com/jquery.js')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js', integrity='sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS', crossorigin='anonymous')
  script(src='/javascripts/panelsUsingJQuery.js')
  script(src='/javascripts/overall_contributors.js')
  script(src='/javascripts/allAuthor.js')
