u,a {
  color: blue;
}


.area {
  fill: #5c6170;
}

body {
  font: 14px sans-serif;
}

h1{
  text-align: center;
  color: blue;
}




.panel-title {
  text-align: center;
  font-size: 20px;
  font-weight: bolder;
}

.panel{
  margin-top: 70px;
}

h1{
  text-align: center;
  color: blue;
}




.panel-title {
  text-align: center;
  font-size: 20px;
  font-weight: bolder;
}

.panel{
  margin-top: 70px;
}

.menu {
  display: flex;
  justify-content: center;
}

.closeWrap {
  display: flex;
  justify-content: flex-end;
}

.navbar {
  background-color: rgba(107,170,151,.87);
  color: white;

}

.nav a{
  font-size: 18px;
  color: white;
  text-decoration: none;
  opacity: .7;
}

.navbar ul a:hover{
  background: none;
  text-decoration: underline;
  opacity: 1;
}


.navbar ul a:focus{
  background: none;
  text-decoration: underline;
  opacity: 1;
}

.navbar-header a{
  font-size: 32px;
  font-family: 'Poiret One', cursive;
  color:white;
}


.panel {
  font-size: 14px;
  font-family: sans-serif;
}

.axis path {
  fill: none;
}
.axis line {
  fill: none;
  stroke: #eee;
  shape-rendering: crispEdges;
}

.axis {
  fill: #aaa;
  font-size: 10px;
}

.line{
  fill: none;
  stroke: #1db34f;
  stroke-width: 2px;
}

.domain path {
  fill:none;
  stroke:none;
}

.bar {
  fill: #f17f49;
}

.colorStyle{
  fill: #bd380f ;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}
#panel_id{
  padding-bottom:0px;
}
/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

#svgBar,#svg{
  margin: auto;
  overflow:hidden;
  clear:both;
}

.holder{
  text-align: center;
  overflow:hidden;
}
#sec_panel{
  margin-top:0px;
}

#year_det_sel{
  float:right;
}

  /*.axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }

  .x.axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }*/

  .legend rect {
    fill:white;
    stroke:black;
    opacity:0.8;}

.panel-default>.panel-heading {
    color: white;
    background-color: #b56969;
    font-family: 'Raleway', sans-serif;
}

.menu {
  display: flex;
  justify-content: center;
}

.closeWrap {
  display: flex;
  justify-content: flex-end;
}

.navbar {
  background-color: rgba(107,170,151,.87);
  color: white;

}

.nav a{
  font-size: 18px;
  color: white;
  text-decoration: none;
  opacity: .7;
}

.navbar ul a:hover{
  background: none;
  text-decoration: underline;
  opacity: 1;
}


.navbar ul a:focus{
  background: none;
  text-decoration: underline;
  opacity: 1;
}

.navbar-header a{
  font-size: 32px;
  font-family: 'Poiret One', cursive;
  color:white;
}


.panel {
  font-size: 14px;
  font-family: sans-serif;
}

.axis path {
  fill: none;
}
.axis line {
  fill: none;
  stroke: #eee;
  shape-rendering: crispEdges;
}

.axis {
  fill: #aaa;
  font-size: 10px;
}


  /*.axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }

  .x.axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }*/

  .legend rect {
    fill:white;
    stroke:black;
    opacity:0.8;}
